<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>PORTFOLIO</h1>
       <a href='/'>Home</a>  |
        <a href='/projects'>Projects</a>  |
        <a href='/contact'>Contact Me</a>

        <h1>Contact</h1>

        <p>Want to send a quick message? Fill out this form below</p>
        <form class="" action="" method="">
            <input type="text" name="name" placeholder="Name"><br><br>
            <input type="text" name="email" placeholder="Email"><br><br>
            <textarea placeholder="Your message..."></textarea><br><br>
            <button type="submit" name="send">Send!</button>
        </form>

    </body>
</html>