<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>PORTFOLIO</h1>
       <a href='/'>Home</a>  |
        <a href='/projects'>Projects</a>  |
        <a href='/contact'>Contact Me</a>

        <h1>Home</h1>
        
        <img src="/images/1.jpg">
        <h3>Name: B</h3>
        <p><b>About Me</b></p>
        <p>I like stuff</p>
    </body>
</html>