<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>PORTFOLIO</h1>
        <a href='/'>Home</a>  |
        <a href='/projects'>Projects</a>  |
        <a href='/contact'>Contact Me</a>

        <h1>Projects</h1>
        
        <div class="port">
            <h3>#1</h3>
            <img src="/images/1.jpg">
            <p>Personal artwork #1</p>
        </div>

        <div class="port">
            <h3>#2</h3>
            <img src="/images/2.jpg">
            <p>Personal artwork #2</p>
        </div>
        
        <div class="port">
            <h3>#3</h3>
            <img src="/images/3.jpg">
            <p>Personal artwork #3</p>
        </div>
        
    </body>
</html>